//screens
$tablet: 768px;

//colors
$dark-grey: #1e1e1e;
$white: #ffffff;
$white-op20: #ffffffbd;
$grey: #a1a0a0;
$dark-red: #5a1d1d;
$orange: #ffa116;
$yellow: #fefb2e;
$yellow-op50: #d9b87147;
$dark-yellow: #b89500;
$bright-dark-yellow: #cca700;
$cyan-op80: #40c8af35;
$cyan: #40c8af;
$red: #c70000; //values
$radius-small: 8px;