@import '../../styles/index.scss';

.container {
    display: flex;
    gap: 10px;
    width: 50%;
}

.select {
    width: 100px;
    border-radius: $radius-small;
    padding-inline: 5px;
    cursor: pointer;
    transition: border-color 0.25s;
    background-color: $dark-grey;
    text-align: center;
}